@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Welcome to the MechanicPortal Home.</h3>
</div>
<br />
<br />
<div class="text-left">
    <p>On this page, you will see an outline of what we offer.</p>
</div>
